            {%- if site.email -%}
            <a href="mailto:{{ site.email | encode_email }}" title="email">{% include icon.html name="email" %}</a>
            {% endif %}
            {%- if site.scholar_userid -%}
            <a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" title="Google Scholar">{% include icon.html name="scholar" %}</a>
            {% endif %}
            {%- if site.github_username -%}
            <a href="https://github.com/{{ site.github_username }}" title="GitHub">{% include icon.html name="github" %}</a>
            {% endif %}
            {%- if site.linkedin_username -%}
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn">{% include icon.html name="linkedin" %}</a>
            {% endif %}
            {%- if site.twitter_username -%}
            <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">{% include icon.html name="twitter" %}</a>
            {% endif %}
            {%- if site.dblp_url -%}
            <a href="{{ site.dblp_url }}" title="DBLP">{% include icon.html name="dblp" %}</a>
            {% endif %}
            {%- if site.rss_icon -%}
            <a href="{{ site.baseurl | prepend: site.url }}/feed.xml" title="RSS Feed">{% include icon.html name="rss" %}</a>
            {% endif %}
