/*******************************************************************************
 * Themes
 ******************************************************************************/

:root {
  --global-bg-color: #{$white-color};
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #{$black-color};
  --global-text-color-light: #{$grey-color};
  --global-theme-color: #{$indigo-color-dark};
  --global-hover-color: #{$indigo-color-dark};
  --global-footer-bg-color: #{$grey-color-dark};
  --global-footer-text-color: #{$grey-color-light};
  --global-footer-link-color: #{$white-color};
  --global-distill-app-color: #{$grey-color};
  --global-divider-color: rgba(0, 0, 0, .1);
  --global-card-bg-color: #{$white-color};

  .fa-sun {
    display: none;
  }

  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #0f172a;
  --global-code-bg-color: #1e293b;
  --global-text-color: #e2e8f0;
  --global-text-color-light: #94a3b8;
  --global-theme-color: #{$indigo-color-dark};
  --global-hover-color: #{$indigo-color-dark};
  --global-footer-bg-color: #1e293b;
  --global-footer-text-color: #94a3b8;
  --global-footer-link-color: #e2e8f0;
  --global-distill-app-color: #94a3b8;
  --global-divider-color: #334155;
  --global-card-bg-color: #1e293b;

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  .fa-moon {
    display: none;
  }
}